.App {
  text-align: center;
}

.App-logo {
  vertical-align: middle;
  height: 1em;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo-spinning {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text-india {
    color: #61dafb !important;
    background: -webkit-linear-gradient(#f3360a, #f74d25, #ffffff, #17ce17, #00c500);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
}

.text-covid-19 {
    color: #dc3545!important; 
    background: -webkit-linear-gradient(#e24958, #dc3545, #e40016);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
}

.caution-msg {
  font-size: 1rem !important;
}